# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
crash.log
crash.*.log

# Terraform variables
terraform.tfvars
*.auto.tfvars
*.tfvars

# SSH private keys
*.pem
*.key
id_rsa
nt548-lab01-key

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/